.topBanner {
    height: 50px;
    background: #7e9f9b;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-family: 'Handlee', cursive;
    font-weight: bold;
    display: block;

}

.navbanner{
    height: auto;
    background-color: #d7e1d9;
    display: block;
    top: 0;
    text-align: center;
    width: 100%;    
    
    
    
}

/* Navbar container */
.navbar {
  
    overflow: hidden;
  font-size: 22px;    
    font-weight:bold;
    text-align: center;
    display: inline-block;
    width: 80%;
}


html, body{
    height: 100%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 18px;;
  color: #7e9f9b;;
  text-align: left;
  padding: 14px 16px;    
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #7e9f9b;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */

}

/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn {
  background-color: #7e9f9b;
    color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d7e1d9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #7e9f9b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}




.dropdown-content a:hover {
  background-color: #f9f9f9;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.btnlink{
    padding-bottom: 20px;
}

.showcase{
    text-align: center;
    height: 450px;
    max-width: 100%;
    padding-top: 40px;
    padding-bottom: 200px;
    
}

#logo {
    padding: 10px;
}

.searchposition{
    float: right;
    display: flex;
    
}

.search {
    display: inline-block;
    
}

.basket {
    margin-left: 20px;
    margin-top: 5px;
}

.centercontainer{
    text-align: center;
    min-height: 100%;
}

.mainindex{
    display: inline-block;
    width: 100%;
}

.main {
    width: 80%;
    display: inline-block;
    
}

#slides {
    position: relative;
    height: 600px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: center;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    display: inline-block;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
    
.showing {
    opacity: 1;
    z-index: 2;
}

.header{
    padding-bottom: 30px;
}

h1{
    
    text-align: center;
    color: #7e9f9b;
    Font-family: "Handlee", cursive;
    font-weight: bold;
    padding-top: 40px;
}

h2{

    text-align: center;
    color: #7e9f9b;
    Font-family: "Handlee", cursive;
    font-weight: bold;
    padding-top: 40px;
}

h3{
    color: #7e9f9b;
    Font-family: "Handlee", cursive;
    font-weight: bold;
    padding-top: 40px;
}

h4{
     color: #7e9f9b;
}

h7 {
    color: darkgray;
}

.overskrift {
    text-align: center;
    color: #7e9f9b;
    Font-family: "Handlee", cursive;
    font-weight: bold;
    padding-top: 40px;
}

body{
    font-family: 'Handlee', cursive;

}

.image{
    height: 400px;
    width: 80%;
}

.fabricRow{
    height: 350px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
   
}

.storebox{
    height: 100%;
    width: 200px;
    text-align: center;    
}


.storeitem{
    height: 200px;
    max-height: 100%;
    max-width: 100%;
}

#login {
   
    float: left;
    width: 50%;
    text-align: left;
    display: inline-block;
    padding-left: 250px;
}

#createacc {
  
    float: right;
    width: 50%;
    text-align: left;
    display: inline-block;
}

#folieimg {
     float: left;
    width: 50%;
    text-align: left;
    display: inline-block;
    padding-top: 45px;
    padding-left: 150px;
}

#foliedetails {
    float: right;
    width: 50%;
    text-align: left;
    display: inline-block;
}

#storrelse {
    width: 200px;
}

.cirkelvalg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.antal {
    width: 50px;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
}

.kurvbtn {
    height: 40px;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #97b8b4;
    border-color: #97b8b4;
}

.p-tag {
    padding-left: 30px;
}

.kontosubmit {
    padding-left: 30px;
}

.spacediv {
    height: 300px;
    
}

.bottom{
     height: 150px;
    background-color: #d7e1d9;
    display: block;
}

.newitemform{
    background-color: #d7e1d9;
    display: block;
    width: 500px;
    align-content: center;
    padding-bottom: 1px;
}

input[type=text]{
    margin-left: 30px;
    width: 300px;
}
.varetype{
    width: 300px;
}
select {
    margin-left: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 300;
}
.contentIndex{
    padding-top: 200px;
    
}
.hidden{
    display: none;
}

.shop-btn {
    background-color: #97b8b4;
    border-color: #97b8b4;
    padding: 10px;
}

.shopbtn {
    background-color: #97b8b4;
    border-color: #97b8b4;
    padding: 10px;
}